.card-container {
    display: flex;
    /* justify-content: space-around; */
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 200px; */
    margin-right: 20px;
}

.card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card h4,
.card p {
    color: #001529;
    margin: 0;
}

.long-card {
    min-width: 400px;
}

.short-card {
    min-width: 250px;
}